*, 
*:before, 
*:after {
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background: linear-gradient(#e66465, #9198e5);
}
.wrapper {
  max-width: 1024px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 40px 20px;
  background-color: transparent;
}
.login-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ECB84C;
  color:#fff;
  padding: 5px;
  margin: 0 auto;
  width: 20%;
  height: 45px;
  font-size: 20px;
  border: none;
  transition: all 0.3s;
}
.login-btn:hover{
  background-color: #fff;
  color: #ECB84C;
  box-shadow: 5px 5px 15px #ECB84C;
}

/* SECTION LEFT */
.container .section_left {
  width: 40%;
  height: 100%;
  border: 1px solid #e6e6e6;
  background-color: #fff;
}

.container .section_left .section_left__top{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
 
.container .section_left__top input{
  width: 70%;
  height: 45px;
  padding: 0 15px;
  border: 1px solid #e6e6e6;
  background-color: #eceff1;
  border-radius: 21px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
.container .section_left input:focus {
  outline: none;
}
.container .section_left .section_left__top .section_left__top-symbol{
  padding: 5px;
  border: none;
  background: #9198e5;
  border-radius: 50%;
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 45px;
}
.container .section_left .section_left__people {
  margin-left: -1px;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  width: 100%;
  height: 80%;
  overflow-y: scroll;
}
.container .section_left .section_left__people li{
  list-style: none;
}

.container .section_left .section_left__people .section_left__people-person {
  position: relative;
  width: 100%;
  padding: 5px 5px 16px;
  cursor: pointer;
  background-color: #fff;
}
.container .section_left .section_left__people .section_left__people-person .flag{
  display: block;
  width: 10px;
  height: 10px;
  margin-left: auto;
  border-radius: 50%;
  background-color: #00b0ff;
}
.container .section_left .section_left__people .section_left__people-person img {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%;
  object-fit: cover;
}
.container .section_left .section_left__people .section_left__people-person .name {
  font-size: 14px;
  line-height: 22px;
  color: #1a1a1a;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}
.container .section_left .section_left__people .section_left__people-person .time {
  font-size: 10px;
  position: absolute;
  top: 10px;
  right: 5px;
  padding: 0 0 5px 5px;
  color: #999;
  background-color: #fff;
}
.container .section_left .section_left__people .section_left__people-person .preview {
  font-size: 14px;
  display: inline-block;
  overflow: hidden !important;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
}
.container .section_left .section_left__people .section_left__people-person.active, .container .section_left .section_left__people .section_left__people-person:hover {
  border: 0;
  background-color: #00b0ff;
  width: 100%;
}
.container .section_left .section_left__people .section_left__people-person.active span, .container .section_left .section_left__people .section_left__people-person:hover span {
  color: #fff;
  background: transparent;
}
  




/* SECTION RIGHT */
.container .section_right {
  width: 60%;
  height: 100%;
}
.container .section_right .section_right__top {
  width: 100%;
  height: 10%;
  padding: 15px 29px;
  background-color: #eceff1;
}
.container .section_right .section_right__top span {
  font-size: 15px;
  color: #999;
}
.container .section_right .section_right__top span .section_right__top-name {
  color: #1a1a1a;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}


.container .section_right .section_right__chat{
  position: relative;
  background-image: url(./img/back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 35px 92px;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #e6e6e6;
  height: 75%;
  justify-content: flex-end;
  flex-direction: column;
  overflow: auto;
}
.container .section_right .section_right__chat .section_right__chat-header{
  font-size: 30px;
  line-height: 18px;
  font-weight: 700;
  text-shadow: 1px 1px 2px white;
  color: #9198e5;
  text-align: center;
  margin-top: 200px;
  animation-name: anim;
  animation-delay: 0.5s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes anim {
  0%{
    transform: scale(0.7);
  }
  100%{
    transform: scale(1);
  }
  
}
.container .section_right .conversation-start {
  font-size: 10px;
}
.container .section_right .message {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  width: fit-content;
  margin-bottom: 8px;
  padding: 13px 14px;
  border-radius: 5px;
}
.container .section_right .message.you {
  margin-right: auto;
  color: #fff;
  background-color: #00b0ff;
  align-self: flex-start;
}

.container .section_right .message.me {
  margin-left: auto;
  color: #1a1a1a;
  background-color: #eceff1;
  align-self: flex-end;
}



.container .section_right .section_right__write {
  height: 15%;
  padding: 15px;
  border: 1px solid #e6e6e6;
  /* background-color: #eceff1; */
  background-color: #ccc;
  width: 100%;
}
.container .section_right .section_right__write form{
  width: 100%;
  height: 100%;
  position: relative;
}
.container .section_right .section_right__write .section_right__write-text {
  font-size: 16px;
  width: 100%;
  height: -webkit-fill-available;
  padding: 10px;
  color: #1a1a1a;
  border: 0;
  border-radius: 5px;
  overflow: hidden;
  outline: none;
  background-color: #eceff1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
.container .section_right .section_right__write .section_right__write-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  padding: 5px;
  border-radius: 50%;
  overflow: hidden;
  outline: none;
  border: none;
  content: '';
  background-image: url('./img/send.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
}






